*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;

}
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html {
    font-size: 16px;
}

body{
/*  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;*/
    font-family: "futura-100-book", sans-serif;
    word-spacing: -.1rem;
    letter-spacing: -0.1rem;
    font-weight: 400;
    font-style: normal;
    padding: .8rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    word-break: keep-all;
    background-color: snow;
    line-height: 1.2;
}
.bold {
  font-family: "futura-100", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.oblique {
  font-style: italic;
}

ul {
  list-style: square;
  padding-left: 1rem;
}
li {
  margin-bottom: 1rem;
  font-size: 1.2vw;
  line-height: 1.0;
  font-weight: 400;
  font-style: normal;
  font-family: "futura-100", sans-serif;
}
.unactive {
  color: gray;
  cursor: not-allowed;
  pointer-events: none;
}
a {
  color: inherit;
  /*text-emphasis-style: dot;
  text-emphasis-position: over left;
  text-decoration: none;*/
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: .1rem;
  text-underline-position: under;
}
a:hover {
  color: blue;
  transition: .3s;
}

iframe{
  width: 84%;
  height: calc(100vh - 4rem);
  border: .1rem dotted;
  margin: 1rem;
  padding: 1rem;
  word-break: keep-all;
  background-color: black;
}
iframe::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
iframe {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
h1 {
  font-size: 1.6vw;
  line-height: 1.2;
  hanging-punctuation: first;
}
nav {
  height: calc(100vh - 2rem);
  width: 16%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

}
.mobilenav {
  display: none;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  body {
    flex-direction: column;
    padding: 1.5rem;
  }
  nav {
    width: 100%;
    height: 40%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.6;
    display: inline;
  }
  a {
    display: inline;
  }

  iframe {
    width: 100%;
    height: 89vh;
    margin: 0;
    word-spacing: -.1rem;
  }
  .mobilenav {
    display: block;
    width: 85%;
  }
  .column1 {
    display: none;
  }
}