a {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.text-block {
  font-size: 200px;
}

.text-block.building {
  font-size: 14vw;
}

.text-block.borderline {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  font-size: 3vw;
}

.text-block.borderline.top {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  line-height: 4vw;
}

.text-block.borderline.bottom {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  line-height: 4vw;
}

.section {
  width: 100vw;
  height: 100vh;
}

.body {
  background-color: #fff;
}

.top-line {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.bottom-line {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.button {
  padding: 0px;
  background-color: #fff;
  font-size: 30px;
  line-height: 0;
  text-align: center;
}

.button-2 {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
  font-size: 4vw;
  line-height: 5vw;
}

.text-span {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  mix-blend-mode: difference;
}

.unlinkedborder {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .button-2 {
    line-height: 4vw;
  }
}

@media screen and (max-width: 767px) {
  .text-block.building {
    font-size: 24vw;
  }

  .text-block.borderline.top {
    font-size: 4vw;
    line-height: 5vw;
  }

  .text-block.borderline.bottom {
    font-size: 4vw;
    line-height: 5vw;
  }

  .button-2 {
    right: 1%;
    bottom: 4%;
    font-size: 9vw;
    line-height: 9vw;
  }
}

@media screen and (max-width: 479px) {
  .text-block.building {
    font-size: 34vw;
  }

  .text-block.borderline.top {
    font-size: 8vw;
    line-height: 6vw;
  }

  .text-block.borderline.bottom {
    font-size: 8vw;
    line-height: 6vw;
  }

  .button-2 {
    right: 0%;
    bottom: 5%;
    font-size: 12vw;
    line-height: 13vw;
  }
}
