*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: scroll;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.625;
  word-break: keep-all;
  overflow-x: hidden;
/*  cursor: url("cursor.png"), auto !important;*/
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1 {
  font-size: 3rem;
  line-height: 1.4;
}

hr {
  border: 0.25vw solid black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 10vw;
  font-weight: 500;
  width: 100vw;
  text-align: center;
  z-index: 1;
}

.img {
  position: absolute;
  width: 500px;
  height: 400px;
  transition-timing-function: ease-out;
  z-index: 7;
}

.img-1 {
  background: url(headerRect.svg) no-repeat 50% 50%;
  background-size: contain;
  transition-duration: 1200ms;
}

.img-2 {
  background: url(headerRect.svg) no-repeat 50% 50%;
  background-size: contain;
  transition-duration: 1050ms;
}

.img-3 {
  background: url(headerRect.svg) no-repeat 50% 50%;
  background-size: contain;
  transition-duration: 900ms;
}

.img-4 {
  background: url(headerRect.svg) no-repeat 50% 50%;
  background-size: contain;
  transition-duration: 750ms;
}

.img-5 {
  background: url(headerRect.svg) no-repeat 50% 50%;
  background-size: contain;
  transition-duration: 500ms;
}
.img-6 {
  background: url(headerRect.svg) no-repeat 50% 50%;
  background-size: contain;
  transition-duration: 350ms;
}

section {
  padding: 2rem;
  display: block;
  width: 100vw;
  background-color: white;
  margin-bottom: 2rem;
}
.section1 {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.section2 {
  position: relative;
  margin-top: 100vh;
  background-color: white;
  z-index: 2;
  border: 0.5vw solid black;
  width: 90vw;
  margin-left: 5vw;
}
.section2 h1 {
  max-width: calc(100vw / 3);
}
.footer {
  width: 89vw;
  height: 20vw;
  margin-left: -2rem;
  z-index: 2;
  background-color: black;
}

p {
  max-width: 60%;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  background-size: contain;
}
.flex2 {
  
  display: flex;
  flex-direction: row;
  gap: 2%;
  justify-content: space-between;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .flex2 {
    flex-direction: column;
    width: 100%;
  }
  p {
    max-width: 100%;
  }
  h1 {
    width: 100%;
  }
  .img {
    width: 300px;
  }
}