@font-face {
  font-family: "suisse";
  src: url("../webfont/SuisseIntl-Regular-WebM.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "suisse";
  src: url("../webfont/SuisseIntl-Book-WebM.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "suisse";
  src: url("../webfont/SuisseIntl-Medium-WebM.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  overflow: hidden;

}
body::-webkit-scrollbar {
  display: none;
}

body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  font-size: 16px;
}



body {
  font-family: suisse, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: snow;
  background-color: black;
  cursor: default;
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  position: relative;
  z-index: 6;
}

a:hover,
a.blink {
  -webkit-animation: blink .8s step-start 0s infinite;
  animation: blink .8s step-start 0s infinite;
}

@-webkit-keyframes blink {
  50% {
    color: black;
    -webkit-text-stroke: 1px white;
    background-color:  white;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: -.1px;
  }
}

@keyframes blink {
  50% {
    color: black;
    -webkit-text-stroke: 1px white;
    background-color: white;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: -.1px;
  }
}

article {
  position: relative;
  max-width: 600px;
  line-height: 1.25;
  margin: 1.5rem;
  margin-top: 0.8rem;
  z-index: 8;
}


p {
  padding-bottom: .5rem;
}
.indent {
  text-indent: 3rem;
}
.inside-p {
  padding-left: 3rem;
  position: relative;
  height: 8.5rem;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 4;
  margin-bottom: 1rem;
}
.inside-p::-webkit-scrollbar {
  display: none;
}
.recent {
  position: relative;
  margin-bottom: 2rem;
}
.link-block{
  position: fixed;
  top: 0.8rem;
  right: 1.5rem;
}
.contact {
  position: relative;
  padding-left: 3rem;
  max-width: 500px;
}
.more-text {
  position: absolute;
  left:0; bottom:0;
  width:100%; height:100%;
  display:inline-block;
  background: linear-gradient(transparent, transparent, transparent, black);
  z-index: 5;
  pointer-events: none;
}

ol.alpha-order {
  list-style-type: lower-alpha;
}
summary {
  padding-top: 16px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  outline: 0;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary {
  margin-bottom: 32px;
}
button {
  line-height: 1;
  color: white;
  border: 2px solid white;
  background-color: inherit;
  border-radius: 8px;
  padding: .25rem .75rem .35rem .75rem;
  margin-bottom: 0.5rem;
}
button:hover {
  color: black;
  background-color: white;
  font-weight: 500;
}
.links {
  width: 250px;
  height: 19rem;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}
.links::-webkit-scrollbar {
  display: none;
}

.h2-links {

  margin-bottom: .25rem;
}
ul.ul-link{
  text-decoration: none;
  list-style-type: none;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  article {
    margin-top: 22rem;
  }
  .link-block{
  position: fixed;
  top: 0.8rem;
  left: 1.5rem;
  }
  .j-box{
    height: 10vh;
    z-index: 1;
  }
}

.light {
  position: absolute;
  top: -500px;
  left: -500px;
  transform: translate(-100px,-100px);
  width: 200px;
  height: 200px;
  background: radial-gradient(circle at center, white, black, transparent, transparent );
  mix-blend-mode: difference;
  z-index: 9;
  border-radius: 100%;
  pointer-events: none;
}
.j-box{
  display: flex;
  align-items: top;
  position: fixed;
  bottom: 1rem;
  right: 0;
  height: 50vh;
  width: auto;
  z-index: 10;
}
.full-img {
  width: 100%;
  height: 100%;
}
